.bk-test5
 {
	width: 100%;
}

.rrze-typesettings {

	button.btn {
		cursor: pointer;
		margin-left: 1em;
		background: #0000; // Transparent background
		border: 1px solid var(--color-ContentBorders, #dfe6ec);
		border-radius: var(--border-radius-buttons, 3px);
		box-shadow: none;
		color: var(--color-Text, #222);
		display: inline-block;
		font-size: 0.938rem;
		font-weight: 400;
		padding: 10px 18px;
		text-align: center;

		// Styles for images inside buttons
		img {
			max-width: 100%;
			height: auto;
		}

		// Hover, focus, and active state styles for buttons
		&:hover,
		&:focus,
		&:active {
			background: var(--color-StandardHellgrau, #e9edf2);
		}
	}
}

.typesettings-copy-img {
	width: 20px;
	cursor: pointer;
}

.typesettings-tooltip {
	position: absolute;
	background-color: #000;
	color: #fff;
	padding: 5px;
	border-radius: 6px;
	display: none;
	margin-top: 10px;

	// Tooltip arrow styling
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: -5px;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent #000 transparent transparent;
	}
}
